[Unit]
Description=Prometheus exporter to monitoring usrus engine
After=network.target

[Service]
EnvironmentFile=/etc/default/ursus_exporter
WorkingDirectory=/var/lib/prometheus/ursus_exporter/
ExecStart=/var/lib/prometheus/ursus_exporter/venv/bin/python /var/lib/prometheus/ursus_exporter/ursus_exporter.py "${CONFIG_FILE}"
Restart=on-abort

[Install]
WantedBy=multi-user.target

